html,
body {
  background: $black;
  color: $white;
  overflow-x: hidden;
  font-family: "Hatton";
  font-weight: 300;
  // overflow-y: hidden;
}

p {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: darken($white, 4%);
  }

  img {
    cursor: pointer;
  }
}

/* ==========
TYPOS
========== */

.s-text {
  font-family: "Neue Montreal", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.015rem;
  font-weight: normal;
}

/* ==========
COLORS
========== */
@each $color, $value in $colors-map {
  .col-#{$color} {
    color: $value;

    @each $item, $val in $texts-map {
      #{$item} {
        color: $value;
      }
    }
  }
}

/* ==========
SECTIONS
========== */
.section-container {
  @include tablet {
    padding-left: map-get($container-padding, mobile);
    padding-right: map-get($container-padding, mobile);
  }
  @include desktop {
    padding-left: map-get($container-padding, desktop);
    padding-right: map-get($container-padding, desktop);
  }
}

.section {
  @include mobile {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @include tablet {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  @include desktop {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.section-spacing-t {
  @include mobile {
    padding-top: 10vh;
  }

  @include tablet {
    padding-top: 10vh;
  }

  @include desktop {
    padding-top: 12vh;
  }
}

.section-spacing-b {
  @include mobile {
    padding-bottom: 10vh;
  }

  @include tablet {
    padding-bottom: 10vh;
  }

  @include desktop {
    padding-bottom: 12vh;
  }
}

/* ==========
CONTAINERS
========== */
.container-fluid {
  &.fw {
    padding: 0;
  }
}

.container {
  @include mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* ==========
FOOTER
========== */
.footer {
  @extend .c-pb-5;
  @include mobile {
    padding-top: 10vh;
  }

  @include tablet {
    padding-top: 10vh;
  }

  @include desktop {
    padding-top: 12vh;
  }

  .logo-footer-container {
    @extend .d-flex;
    width: 100%;
    justify-content: center;
    @extend .c-mt-4;
  }

  .logo-footer {
    @include desktop {
      width: 6vw;
    }
    @include tablet {
      width: 10vw;
    }
    @include mobile {
      width: 100%;
    }
    height: 100%;
  }
}

.w-100 {
  width: 100%;
}
