html,
body {
  background: $black;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Inter", -apple-system, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.black {
  background: $bg-black;
  color: $white;
}

.bordeaux {
  background: $bg-bordeaux;
  color: $white;
}

.yellow {
  background: $bg-yellow;
  color: $black;
}

p {
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: darken($white, 4%);
  }

  img {
    cursor: pointer;
  }
}

a {
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 0.6;
  }

  &.link {
    margin-left: 2px;
    &::after {
      content: "↗";
    }
  }
}

/* ==========
TYPOS
========== */

.s-text {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  line-height: 1.3;
}

/* ==========
COLORS
========== */
@each $color, $value in $colors-map {
  .col-#{$color} {
    color: $value;

    @each $item, $val in $texts-map {
      #{$item} {
        color: $value;
      }
    }
  }
}

/* ==========
SECTIONS
========== */
.section-container {
  @include tablet {
    padding-left: map-get($container-padding, mobile);
    padding-right: map-get($container-padding, mobile);
  }
  @include desktop {
    padding-left: map-get($container-padding, desktop);
    padding-right: map-get($container-padding, desktop);
  }
}

.section {
  @include tablet {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include desktop {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.section-head {
  display: flex;
  margin-bottom: 56px;
  div:last-child {
    @extend .c-ml-1;
  }

  @include tablet {
    flex-direction: column;
  }
}

.section-spacing-t {
  @include mobile {
    padding-top: 10vh;
  }

  @include tablet {
    padding-top: 10vh;
  }

  @include desktop {
    padding-top: 12vh;
  }
}

.section-spacing-b {
  @include mobile {
    padding-bottom: 10vh;
  }

  @include tablet {
    padding-bottom: 10vh;
  }

  @include desktop {
    padding-bottom: 12vh;
  }
}

/* ==========
CONTAINERS
========== */
.container-fluid {
  &.fw {
    padding: 0;
  }
}

.container {
  @include mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* ==========
FOOTER
========== */
.footer {
  @extend .c-pb-5;
  @include mobile {
    padding-top: 10vh;
  }

  @include tablet {
    padding-top: 10vh;
  }

  @include desktop {
    padding-top: 12vh;
  }

  .logo-footer-container {
    @extend .d-flex;
    width: 100%;
    justify-content: center;
    @extend .c-mt-4;
  }

  .logo-footer {
    @include desktop {
      width: 6vw;
    }
    @include tablet {
      width: 10vw;
    }
    @include mobile {
      width: 100%;
    }
    height: 100%;
  }
}

.w-100 {
  width: 100%;
}

/* ==========
HERO SVG
========== */
.heroSvg {
  display: flex;
  justify-content: center;
  @include desktop {
    height: 240px;
    margin-top: map-get($space-map, 3);
  }
  @include tablet {
    height: 8vh;
  }
  svg {
    height: 100%;
  }
  path {
    fill: $white;
  }
}
