@include font-weight;
@include font-size;
@include selection;

@font-face {
  font-family: 'Beastly 18 Point';
  src: url('/fonts/Beastly-18Point.woff2') format('woff2'),
      url('/fonts/Beastly-18Point.woff') format('woff'),
      url('/fonts/Beastly-18Point.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}