.header {
  padding-top: $page-padding-top;
  @include tablet {
    padding-left: map-get($container-padding, mobile);
    padding-right: map-get($container-padding, mobile);
  }
  @include desktop {
    padding-left: map-get($container-padding, desktop);
    padding-right: map-get($container-padding, desktop);
  }
  @extend .d-flex;

  .logo {
    flex-grow: 1;
  }

  .birthdate {
    @extend .d-flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      opacity: 0.4;
    }
    .s-text {
      text-align: right;
      margin-top: 0.25rem;
    }
  }
}

.section-container {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
