.s-hero {
  @extend .d-flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: $page-padding-top;

  .menu {
    flex: 1;
    @extend .d-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .barcode {
      @extend .c-mt-2;
    }
  }

  .intro {
    @include tablet {
      text-align: center;
    }
  }

  .scroll-down {
    display: flex;
    justify-content: flex-end;
    @include tablet {
      margin-top: map-get($space-map, 5);
      justify-content: center;
    }
    .icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transition: all 0.3s ease-in;
      background: rgba($white, 0.1);
      &:hover {
        background: rgba($white, 0.2);
      }
      transform: rotate(90deg);
      svg {
        height: 20px;
        path {
          fill: $white;
        }
      }
    }
  }
}

.s-projects {
  .projects {
    font-family: "Beastly 18 Point", -apple-system, sans-serif;
    text-transform: uppercase;
    font-size: 6.5vw;
    line-height: 0.9;
    text-align: right;

    a {
      word-break: break-word;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      font-size: 9vw;
      span {
        display: none;
      }
    }
  }
}

.s-info {
  padding-bottom: 0;

  .info-1 {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-bottom: map-get($space-map, 5);
    }
    .s-text {
      text-align: right;
    }
  }
  .info-2 {
    @include tablet {
      margin-top: map-get($space-map, 5);
    }
  }
  .portrait {
    border-radius: 16px;
    overflow: hidden;
  }
}
