.s-hero {
  @extend .d-flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: $page-padding-top;

  .heroSvg {
    display: flex;
    justify-content: center;
    @include desktop {
      height: 240px;
      margin-top: map-get($space-map, 3);
    }
    @include tablet {
      height: 8vh;
    }
    svg {
      height: 100%;
    }
    path {
      fill: $white;
    }
  }

  .menu {
    flex: 1;
    @extend .d-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menu-items {
      padding: 0;
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        a {
          @extend .s-text;
          @extend .c-mx-1;
        }
      }
    }

    .barcode {
      @extend .c-mt-2;
    }
  }
}

.s-projects {
  .projects {
    font-family: "Beastly 18 Point", -apple-system, sans-serif;
    text-transform: uppercase;
    font-size: 6.5vw;
    line-height: 0.9;
    text-align: right;

    a {
      word-break: break-word;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      font-size: 9vw;
      span {
        display: none;
      }
    }
  }
}

.s-info {
  padding-bottom: 0;

  .info-1 {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-bottom: map-get($space-map, 5);
    }
    .s-text {
      text-align: right;
    }
  }
  .info-2 {
    @include tablet {
      margin-top: map-get($space-map, 5);
    }
  }
  .portrait {
    border-radius: 16px;
    overflow: hidden;
  }
}
